services:
  db:
    image: postgres:18-alpine
    container_name: fastapi_template_db
    restart: unless-stopped
    env_file:
      - .env.db
    ports:
      - "5432:5432" # Comment for local access
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_template_app
    depends_on:
      - db
    env_file:
      - .env.docker    # overrides for docker environment
    ports:
      - "8000:8000"
    networks:
      - app_net

volumes:
  db_data:

networks:
  app_net:
    driver: bridge
