name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Run test coverage
        run: make coverage
        env:
            DATABASE_URL: "sqlite+aiosqlite:///:memory:"
            APP_NAME: "fastapi-template"
            DEBUG: "False"
            ENVIRONMENT: "development"
            HOST: "0.0.0.0"
            PORT: "8090"
            ALEMBIC_MIGRATION_PATH: "migrations"
            LOG_LEVEL: "DEBUG"
